#fabricator limit
[global_resource_maxfabricator]
displayPos: 3
displayName: maxfabricator
hidden: false
displayNameShort: limit fabricator
displayNameShort_ru: лимит
displayColor: #026df9
displayWhenZero: false
displayTextPrefix: LIMIT 
displayTextPostfix: $
hidden:true

# mode для логики переключения режимов и подобного
[global_resource_mode]
displayPos: 4
displayName: mode
hidden: false
displayNameShort: mode
displayNameShort_ru: mode
displayColor: #33f902
displayWhenZero: false
displayTextPrefix: mode 
displayTextPostfix: $
hidden:true

[projectile_null_projectile]
directDamage:0
life: 80
image: ROOT:icons/nah_sprite.png
trailEffect: false
explodeEffect: null
explodeEffectOnShield: null

[effect_null]
image: ROOT:icons/nah_sprite.png